.home-container:hover {
    opacity: 0.9; /* Ajustez l'opacité au survol */
    transform: translate(-50%, -55%); /* Ajustez la position au survol */
    padding: 100px; /* Ajoutez un padding de 100px dans toutes les positions au survol */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: opacity 0.3s ease-in-out; /* Ajoutez une transition d'opacité au survol */
  }
  
  .home-container:hover .overlay {
    opacity: 0.7; /* Ajustez l'opacité de la superposition au survol */
  }
  