<div class="test" >
     <app-navbar [sharedData]="sharedData"  [composant]="composant" class="element1"></app-navbar> 
     <div class="rows">
        <app-sidebar [sharedData]="sharedData" [composant]="composant"></app-sidebar> 
<div style="margin-top: 20px;">
    <router-outlet></router-outlet>
    <button (click)="playsound()">play sound</button>
</div>

    </div> 
    <!-- <app-buttoncomponent></app-buttoncomponent>  -->
     <!-- <app-test [composant]="composant" ></app-test> -->
    <!-- <app-searchbar></app-searchbar> -->
    <!-- <app-avatar></app-avatar> -->

</div>

