
<div [ngStyle]="gridContainerStyles">
  <div [ngStyle]="cardStyles">
    <img src="assets/image/news.jpg" height="300" width="300">
    <h2 [ngStyle]="FontStyles">20 November 2023</h2>
    <p>We need COP to deliver a bullet train to speed up climate action": Simon Stiell at COP28</p>
    <button>plus de details</button>
  </div>
    <div [ngStyle]="cardStyles">
      <img src="assets/image/a.jpg" height="300" width="300">
      <h2 [ngStyle]="FontStyles">21 November 2023</h2>
      <p>Ensuring No One is Left Behind: First High-Level Ministerial Roundtable on Just Transition</p>
      <button>plus de details</button>
    </div>
    <div [ngStyle]="cardStyles">
      <img src="assets/image/aa.jpg" height="300" width="300">
      <h2 [ngStyle]="FontStyles">1 December 2023</h2>
      <p>Global Stocktake Moves Closer to a Conclusion at COP28</p>
      <button>plus de details</button>
    </div>
    <div [ngStyle]="cardStyles">
      <img src="assets/image/aaa.jpg" height="300" width="300">
      <h2 [ngStyle]="FontStyles">2 December 2023</h2>
      <p>Let us give Adaptation the money and attention it deserves": Simon Stiell at COP28 event on Adaptation Gap Report</p>
      <button>plus de details</button>
    </div>
    <div [ngStyle]="cardStyles">
      <img src="assets/image/aaaa.jpg" height="300" width="300">
      <h2 [ngStyle]="FontStyles">3 December 2023</h2>
      <p>COP28 spotlights gender-responsive just transitions and climate action</p>
      <button>plus de details</button>
    </div>
    <div [ngStyle]="cardStyles">
      <img src="assets/image/aaaaa.jpg" height="300" width="300">
      <h2 [ngStyle]="FontStyles">4 December 2023</h2>
      <p>UN Global Climate Action Awards Ceremony Celebrates Youth-Led Climate Solutions</p>
      <button>plus de details</button>
    </div>
  </div>