<div class="home-container" style="background-image: url('assets/image/aze.jpg'); width: 500px; height: 150px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 2px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;">
  <div class="overlay"></div>
  <div class="description">
    <h1>Le Changement Climatique</h1>
    <p>Le changement climatique est l'un des plus grands défis auxquels notre planète est confrontée. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget leo vel elit mollis tristique.</p>
  </div>
</div>
