<div class="home-container" style="background-image: url('assets/image/aze.jpg'); width: 500px; height: 200px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 2px solid #fff; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;">
  <div class="overlay"></div>
  <div class="description">
    <h1>Le Changement Climatique</h1>
    <p>Le changement climatique, un défi urgent qui transcende les frontières, nécessite une mobilisation collective pour préserver notre précieux écosystème. Comme l'a souligné le regretté Kofi Annan, ancien Secrétaire général des Nations unies, "Nous n'héritons pas de la terre de nos ancêtres, nous l'empruntons à nos enfants."</p>  </div>
</div>
